@import '../../../config/styles.scss';

.footer {
  height: 2rem;
  width: 100vw;
  color: $primary-color;
  background: $secondary-color;
  border-top: 1px solid $tertiary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.875rem;
  align-items: center;
}