@import '../../../config/styles.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  &.reduced { top: 10px; left: 10px; width: auto; }
  & .dark { background-color: transparent; color: $secondary-color; }
  & .light { background-color: transparent; color: black; filter: invert(1); }
}