@import '../../config/styles.scss';

.leaderboard-container {
  @include abs-full-screen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .leaderboard-subcontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    & .leaderboard-card {
      display: flex;
      width: 50vw;
      margin: 2vh auto;
      width: 750px;

      &:hover .leaderboard-cover { filter: grayscale(0.3); transition: .5s; }
      & .leaderboard-cover {
        width: 450px;
        filter: grayscale(1);
        transition: .5s;
      }
      & .leaderboard-list {
        display: flex;
        flex-direction: column;
        flex: 1;

        & .leaderboard-player {
          cursor: pointer;
          & .leaderboard-icon {
            font-size: 2rem;
            color: rgba($secondary-color, .8);
          }
        }
      }
      & .leaderboard-list .leaderboard-player {
        opacity: 1;
        transition: .5s;
      }
      & .leaderboard-list:hover .leaderboard-player {
        opacity: .7;
        transition: .5s;
      }
      & .leaderboard-list .leaderboard-player:hover {
        opacity: 1;
        transition: .5s;
      }
    }
  }
}