@import '../config/styles.scss';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: $roboto;
  color: $secondary-color;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.spinner {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}