@import '../config/styles.scss';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font: $roboto;
  color: $secondary-color;
  overflow-x: hidden;
  scroll-behavior: smooth;
}