@import '../../../../../config/styles.scss';

.menu-left {
  padding: 5px 20px;
  & .menu-item {
    @include link;
    &.active { opacity: 1; border-bottom: 1px solid $tertiary-color; transition: .5s; }
    &:link, &:visited, &:active { @include link-pseudo-classes; }
    &:hover, &.active { @include link-hover; }
  }
}