@import '../../../config/styles.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  &.reduced { top: 10px; left: 10px; width: auto; }
  &.transparent { background-color: transparent; color: $secondary-color; }
  &.primary { background-color: $primary-color; color: $secondary-color; }
  &.secondary { background-color: $secondary-color; color: $primary-color; }
  &.tertiary { background-color: $tertiary-color; color: $primary-color; }
}