@import '../../../../config/styles.scss';

.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 10px 15px;
  z-index: 9999;
  
  -webkit-user-select: none;
  user-select: none;

  & .menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;   
  }
  & .mobile-menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10001;
    cursor: pointer;
    & input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      
      -webkit-touch-callout: none;
    }

    & .menu-burger {
      cursor: pointer;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      
      background: $secondary-color;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

      &:first-child { transform-origin: 0% 0%; }
      &:nth-child(2) { transform-origin: 0% 100%; }
      &.opened {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -16px);
        background: #232323;
      }
      &.opened:first-child { transform: rotate(45deg) translate(4px, -4px); }
      &.opened:nth-child(2) { transform: rotate(-45deg) translate(-5px, 14px); }
      &.opened:last-child {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
    }
  }
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $primary-color;
  color: $secondary-color;

  & .mobile-menu-items {
    position: fixed;
    top: 50vh;
    left: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    & .menu-logo {
      padding: 30px 0;
      & img { 
        height: 40px;
      }
    }
    & .separator {
      height: 1px;
      width: 200px;
      margin: 0;
      background: rgba(40, 44, 52, 0.5);
    }
    & .mobile-menu-item {
      @include link;
      padding: 15px 10px;
      &.active { opacity: 1; transition: .5s; }
      &:link, &:visited, &:active { @include link-pseudo-classes; }
    }
  }
}

@media (min-width: 1024px) {
  .mobile-menu { display: none; }
}