@import '../../config/styles.scss';


.room-container {
  @include abs-full-screen;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .game-counter {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: tomato;
    font: $roboto;
    font-variant-caps: all-petite-caps;
    font-size: 6rem;
    z-index: 99;
    font-weight: 900;
    letter-spacing: 5px;
    padding: 5px 20px;
  }
  & .room-paper {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    & .flex-container {
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
      justify-content: center;
      width: 50rem;
      height: 56.25rem;
      position: absolute;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      & .grid {
        width: 25.125rem;
        & .grid-row {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          justify-content: space-around;
          line-height: 0.4;
          & .grid-cell {
            background-color: rgba($secondary-color, .05);
            margin: 1px;
            color: white;
            font-weight: bold;
            font-size: 1.5em;
            text-align: center;
            flex: 1 0 auto;
            height: auto;
            border-radius: 5px;
            &.blue { background-color: #4285F4; }
            &.green { background-color: #0F9D58; }
            &.yellow { background-color: #F4B400; }
            &.red { background-color: #DB4437; }
            &:before {
              content:'';
              float:left;
              padding-top:100%;
            }
          }
        }
      }

      & .flex-subcontainer {   
        & .room-infos {
          width: 18.75rem;
          background-color: tomato;
        }
        & .specter-container {
          width: 18.75rem;
          & .specter {
            margin: 3rem 4rem;
            & .grid-row {
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              justify-content: space-around;
              line-height: 0.4;
              & .grid-cell {
                background-color: rgba($secondary-color, .05);
                margin: 1px;
                color: white;
                font-weight: bold;
                font-size: 1.5em;
                text-align: center;
                flex: 1 0 auto;
                height: auto;
                border-radius: 3px;
                &.grid-cell-filled { background-color: #4285F4; }
                &:before {
                  content:'';
                  float:left;
                  padding-top:100%;
                }
              }
            }
          }
        }

        & .tiles-stack {
          display: flex;
          width: 18.75rem;
          height: 15.75rem;
          background-color: greenyellow;
        }
      }
    }
  }
}



