@import '../../config/styles.scss';

.room-container {

  @include abs-full-screen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .room-entering-lobby {
    color: $secondary-color;

    & .room-entering-lobby-ctn {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      padding: 15px;

      & .room-entering-lobby-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p:first-child {
          letter-spacing: 2px;
          margin-bottom: 0 !important;
        }
        & p:last-child {
          opacity: .5;
          font-size: 15px;
          padding: 2px 2px;
          font-weight: 100;
          background-color: rgba($secondary-color, .1);
        }
      }

      & .room-entering-lobby-slots {
        font-size: 1.1rem;
        color: $secondary-color;
        & .room-entering-lobby-player-slot,
        & .room-entering-lobby-empty-slot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px;
          margin: 10px 0;
          border-radius: 5px;
          align-items: center;
          background-color: rgba($secondary-color, .0);
          transition: .5s;
          &:hover {
            background-color: rgba($secondary-color, .05);
            transition: .5s;
          }
        }

        & .room-entering-lobby-player-slot {
          letter-spacing: 3px;
          & .current-player-not-ready,
          & .current-player-ready,
          & .other-player-not-ready,
          & .other-player-ready {
            font: $roboto;
            letter-spacing: 2px;
            padding: 5px 10px;
            margin: 0 5px;
            opacity: .75;
            border: 1px solid #282c34;
            border-radius: 5px;
            background: transparent;
            outline:none;
            transition: .5s;
          }
          & .current-player-not-ready:hover,
          & .current-player-ready:hover {
            opacity: 1;
            cursor:pointer;
          }
          & .other-player-not-ready{
            border: 1px solid transparent;
          }
          & .current-player-ready,
          & .other-player-ready  {
            cursor: default;
            color: #0F9D58;
            border: 1px solid transparent;
            &:hover { cursor: default;}
          }
          & span span {
            transform: translate(50%, 120%);
            font-size: 14px;
            color: rgba($secondary-color, .5);
            background: white;
            & .lobby-icon.crown { color: #F4B400; }
            & .lobby-icon.gamepad { color: #4285F4; }
            & .lobby-icon.times-circle { color: #DB4437; }
          }
        }

        & .room-entering-lobby-empty-slot {
          color: rgba($secondary-color, .3);
          font-size: 0.8rem;
          background-color: rgba($secondary-color, 0.02);

          & .room-entering-lobby-empty-slot-join,
          & .room-entering-lobby-empty-slot-wait {
            background: transparent;
            width: 100%;
            text-align: center;
            letter-spacing: 2px;
            border:none;
          }

          & .room-entering-lobby-empty-slot-join:hover {
            cursor:pointer;
            outline:none;
          }
        }
      }

      & .room-entering-lobby-start {
        width: 100%;
        display: flex;
        align-items: center;
        & .room-entering-lobby-start-button {
          font: $roboto;
          font-size: 1rem;
          letter-spacing: 2px;
          padding: 5px 15px;
          opacity: .85;
          border: 1px solid rgba(#282c34, .5);
          border-radius: 5px;
          align-items: center;
          margin: 15px auto;
          outline:none;
          transition: .5s;
          &.not-ready-to-start:hover {
            cursor:not-allowed;
          }
          &.ready-to-start:hover {
            color: rgba($secondary-color, 1);
            opacity: 1;
            transition: .5s;
            border: 1px solid rgba(#282c34, 1);
            cursor:pointer;
          }
        }
      }
    }
  }

  & .room-exiting-lobby {
    display: flex;
    color: $secondary-color;
    & .flex-container {
      opacity: .2;
      z-index: 1;
    }
    & .room-exiting-lobby-ctn {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      padding: 15px;
      background: rgba($primary-color,0.8);
      border-radius: 10px;
      box-shadow: 1px 1px 4px rgba($secondary-color, .1);
      z-index: 2;
      & .room-exiting-lobby-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p:first-child {
          letter-spacing: 2px;
          margin-bottom: 0 !important;
        }
        & p:last-child {
          opacity: .5;
          font-size: 15px;
          padding: 2px 2px;
          font-weight: 100;
          background-color: rgba($secondary-color, .1);
        }
      }

      & .room-exiting-lobby-slots {
        font-size: 1.1rem;
        color: $secondary-color;
        & .room-exiting-lobby-player-slot {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 5px;
          margin: 10px 0;
          border-radius: 5px;
          align-items: center;
          background-color: rgba($secondary-color, .0);
          transition: .5s;
          letter-spacing: 3px;
          &:hover {
            background-color: rgba($secondary-color, .05);
            transition: .5s;
          }
          & span span {
            transform: translate(50%, 120%);
            font-size: 14px;
            color: rgba($secondary-color, .5);
            background: white;
            & .lobby-icon.crown { color: #F4B400; }
            & .lobby-icon.gamepad { color: #4285F4; }
            & .lobby-icon.times-circle { color: #DB4437; }
          }
        }
      }
      & .room-exiting-lobby-new-game {
        width: 100%;
        display: flex;
        align-items: center;
        & .room-exiting-lobby-new-game-button {
          width: fit-content;
          font: $roboto;
          font-size: 1rem;
          letter-spacing: 2px;
          padding: 5px 15px;
          border-radius: 5px;      
          margin: 15px auto;
          color: rgba($primary-color, 1);
          background: $tertiary-color;
          opacity: .7;
          border: none;
          outline:none;
          transition: .5s;
          cursor:pointer;
          &:hover { color: rgba($primary-color, 1); opacity: 1; }
        }
      }
    }
  }

  & .room-lobby {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    & .flex-container {
      display: flex;
      flex-direction: column;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 50rem;
      height: 56.25rem;
      position: absolute;
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      & .no-player-left {
        font-size: xx-large;
        font-family: "roboto";
        letter-spacing: 3px;
        color: #282c34;
      }
      & .grid {
        width: 25.125rem;
        & .grid-row {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          justify-content: space-around;
          line-height: 0.4;
          & .grid-cell {
            background-color: rgba($secondary-color, .05);
            margin: 1px;
            color: white;
            font-weight: bold;
            font-size: 1.5em;
            text-align: center;
            flex: 1 0 auto;
            height: auto;
            border-radius: 5px;
            &.black { background-color: rgba($secondary-color, .7); }
            &.blue { background-color: #4285F4; }
            &.green { background-color: #0F9D58; }
            &.yellow { background-color: #F4B400; }
            &.red { background-color: #DB4437; }
            &:before {
              content:'';
              float:left;
              padding-top:100%;
            }
          }
        }
      }

      & .flex-container-right {
        width: 25.125rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        & .room-statistics {
          width: 18.75rem;

          & .room-statistic-player {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 15px;
            color: rgba($secondary-color, .5);
            & span span {
              transform: translate(50%, 120%);
              font-size: 14px;
              color: rgba($secondary-color, .5);
              background: white;
              & .lobby-icon.crown { color: #F4B400; }
              & .lobby-icon.gamepad { color: #4285F4; }
              & .lobby-icon.times-circle { color: #DB4437; }
            }
          }
        }

        & .next-tile-container {
          width: 16rem;
          & .next-tile {
            margin: 3rem 4rem;
            & .next-tile-row {
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              justify-content: space-around;
              line-height: 0.4;
              & .next-tile-cell {
                background-color: rgba($secondary-color, .02);
                margin: 1px;
                color: white;
                font-weight: bold;
                font-size: 1.5em;
                text-align: center;
                flex: 1 0 auto;
                height: auto;
                border-radius: 3px;
                &.blue { background-color: #4285F4; }
                &.green { background-color: #0F9D58; }
                &.yellow { background-color: #F4B400; }
                &.red { background-color: #DB4437; }
                &:before {
                  content:'';
                  float:left;
                  padding-top:100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.specter-container {
  width: 18.75rem;
  & .specter {
    margin: 3rem 4rem;
    & .grid-row {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
      line-height: 0.4;
      & .grid-cell {
        background-color: rgba($secondary-color, .05);
        margin: 1px;
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        flex: 1 0 auto;
        height: auto;
        border-radius: 3px;
        &.grid-cell-filled { background-color: #4285F4; }
        &:before {
          content:'';
          float:left;
          padding-top:100%;
        }
      }
    }
  }
  &.specter-container-large {
    width: 25.125rem;
    & .specter {
      margin: 0 20px;
    }
  }
  & .specter-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: rgba($secondary-color, .5);
    margin: 10px 15px;
    & span span {
      transform: translate(50%, 120%);
      font-size: 14px;
      background: white;
      & .lobby-icon.crown { color: #F4B400; }
      & .lobby-icon.gamepad { color: #4285F4; }
      & .lobby-icon.times-circle { color: #DB4437; }
    }
  }

}

.clickable { cursor: pointer;}