{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "padded-blocks": "off",
    "no-console": "warn",
    "func-names": "off",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "req",
          "res"
        ]
      }
    ]
  }
}
